<div class="footer">
  <div class="relist">
    <h4>About Us</h4>
    <ul>
      <li><%=link_to "Home", root_path%> </li>
      <li><%=link_to "Team", team_path%> </li>
      <li><%=link_to "Contact", contact_path%> </li>
    </ul>
  </div>
  <div class="relist">
    <h4>Services</h4>
    <ul>
      <li><%=link_to "CTO's For Hire"%></li>
      <li><%=link_to "UX/UI Design and Web Development"%></li>
      <li><%=link_to "Custom Or Templated Websites"%></li>
      <li><%=link_to "Multi-Platoform Development"%></li>
    </ul>
  </div>
  <div class="relist location">
    <h4>Location</h4>
    <p>
    1 Journal Square Plaza <br>
    Jersey City, NJ 07306
  </p>
  </div>

</div>
