<div class="row footer">
  <div class="relist">
    <h4>About Us</h4>
    <ul>
      <li><%=link_to "Home", root_path%> </li>
      <li><%=link_to "Team", team_path%> </li>
      <li><%=link_to "Contact", contact_path%> </li>
    </ul>
  </div>
  <div class="relist services">
    <h4>Services</h4>
    <ul>
      <li><%=link_to "service1"%></li>
      <li><%=link_to "service2"%></li>
      <li><%=link_to "service3"%></li>
      <li><%=link_to "service4"%></li>
    </ul>
  </div>
  <div class="relist location">
    <h4>Location</h4>
    <p>
    1 Journal Square Plaza <br>
    Jersey City, NJ 07306
  </p>
  </div>
  <!-- <div class="relist spacer">

  </div>
  <div class="relist resource">
    <h4>Resources</h4>
    <ul>
      <li>Blog</li>
      <li>FAQ</li>
    </ul>
  </div>
  <div class="relist location social">

  </div> -->
</div>
